*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-content: center;
flex-direction: row;
}
.box-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
}
.box{
    width: 269px;
    padding: 15px;
    min-height: 430px;

}
.box1{
    background-color: aqua;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box2{
    background-color: bisque;

}
.box3{
    background-color: chartreuse;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content{
    padding: 10px;
}
h1{
    color: black;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin: 20px 0;
}
p{
    color: brown;
    font-family: Cambria, Cochin;

}
.btn{
    margin: 60px;
    padding: 15px 40px;
    border: 0;
    border-radius: 30px;
    outline: none;
    background-color: palegreen;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.8s;
}